.folder {
    background-color: #c4c4c4;
    width: 13%;
    display: flex;
    border-radius: 5px;
    height: 40px;
    align-items: center;
}

.folder p{
    font-size: 13px;
    text-align: center;
    margin-left: 10px;
}